body{
    font-size:24px;
    font-family:sans-serif;
    margin:0;
    text-align: center;
}

h1{
    font-size:64px;
}

nav{
    border-bottom:black solid 3px;
}


 a{
    text-decoration: none;
    color: aqua;
    padding-right:15px;
}

li{
list-style: none;
}


#icon{
    display: inline;
}

button{
    padding:10px;
    border:aqua solid 6px;
    border-radius:5px;
    margin-bottom:40px;
}
